 *{
    padding: 0px;
    margin: 0px;
 }
 body{
    background-color: black;
    width:100vw
 }
 .main{
    background-image:url("images/bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 90vh;
    background-position: center center;  
    /* height: 95vh; */
    position: relative;
 }

media img {
    width: 100%;
}

nav{
    /* position: absolute; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 70vw;
    margin-left: 12vw;
    padding: 20px;
} 
#right{
    z-index: 10;
   
}
#right lang{
   font-size: 20px;
}
 #lang{
    padding: 5px;
    background-color:inherit;
    color: azure;
    border: 2px solid white;
    border-radius: 5px;
}
#login{
    font-size: 12px;
   background-color: red;
   color: azure;
   padding-top: 8px;
   padding-bottom: 8px;
   padding-left: 15px;
   padding-right: 15px;
   border-radius: 8px;

}
nav #logo{
    
    width: 130px;
    position: relative;
    z-index: 8;
} 
.main .box{
    position: absolute;
    top: 0;
    height: 90vh;
    width: 100%;
    opacity: 0.6;
    background-color: black;
}
.mid{
    margin-top: 7rem;
    display: flex;
    height: 100%;
    position: relative;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    padding: 29px;
   
}
/* @media (min-width:900px) {
    #flexy{
        display:flex;
        flex-direction: column;
    }
    
} */
@media (max-width:428px){
    nav{
        flex-direction: column;
    }
}
 
.mid> :first-child{
    font-weight: bolder;
    font-size: 48px;
}
.mid> :nth-child(2){
  font-size: 24px;
}
.mid> :nth-child(3){
    font-size: 20px;
}
#lang{
    border:2px solid white;
}

#email{
    background: inherit;
    color: white;
    border: 1px solid white;width: 100%;
}

#flexy input{
    margin: 1rem;
}
#start{
    background-color: red;
    color: white;
    font-size: 28px;
    padding: 15px;
    font-weight: bold;
    border-radius: 5px;
}
.mid input{
    padding: 5px;
    font-size: 28px;
    font-weight: bold;
    border-radius: 5px;
}
.seperate{
    background-color: rgb(35, 35, 35);
    height:6px;
    width: 100%;
}
.first{
    display: flex;
    color: white;
    align-items: center;
    justify-content: center;
    position: relative;

    /* top: 0; */
    /* left: 150px; */
    /* width: 80vw; */
    /* flex-wrap: wrap; */
    margin: auto;
    margin-left: 10%;
    margin-right: 10%;

}

.one_text{
    display:flex;
    flex-direction: column;
}
.one_text :nth-child(1){
font-weight: 900;
font-size: 48px;
}
.one_text :nth-child(2){
    font-size: 24px;
}
.wrapper{
width: 80%;
position: relative;
}

.first img{
    position: relative;
    z-index: 100;
    width: 100%;
}
.first video{
    top: 20%;
    left: 13%;
    width: 75%;
    position: absolute;

}
.second img{
    
    max-height: 30%;
}
/* .second{
    display: flex;
    color: white;
    align-items: center;
    justify-content: center;
    flex-wrap:wrap-reverse;
}
.two_text{
    display:flex;
    flex-direction: column;
}*/
.two_text :nth-child(1){
font-weight: 900;
font-size: 48px;
}
.two_text :nth-child(2){
    font-size: 24px; 
}
@media  (width<=950px) {
    .first{
        flex-direction: column;
    }
    .one_text :nth-child(1){
        font-weight: 900;
        font-size: 36px;
        }
        .one_text :nth-child(2){
            font-size: 18px;
        }
    
}
@media  (width<=950px) {
    .second{
        flex-direction: column;
    }
    .two_text :nth-child(1){
        font-weight: 900;
        font-size: 36px;
        }
        .two_text :nth-child(2){
            font-size: 18px;
        }
    
}
.third video{

        top: 9%;
        left: 16%;
        width: 66%;
        position: absolute;
}
.faq{
    color: white;
}
.faq h2 {
    text-align: center;
    font-size: 48px;
}

.faq {
    background: black;
    color: white;
    padding: 34px;
}

.faqbox:hover {
    background-color: #414141;
    color: white;
}

.faqbox svg {
    filter: invert(1);
}

.faqbox {
    transition: all 1s ease-out;
    font-size: 24px;
    display: flex;
    justify-content: space-between;
    background-color: #2d2d2d;
    padding: 24px;
    max-width: 60vw;
    margin: 8px auto;
    cursor: pointer;
}
